body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-size: 100%;
    line-height: 139%;
    margin: 0;
    padding: 0;

}

.news {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

h1 {
    text-align: center;
    line-height: 139%;
}
.avt {
    font-weight: bold;
}