.Dota2Card {
    display: flex;
    height: 700px;
}
.card {
    height: 100%;
    padding: 2px 16px;
    box-sizing: border-box;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:first-child{
    margin-left: 0;
}
.role {
    font-weight: bold;
    font-size: large;
    
}
.bio {
    font-weight: bold;
    font-size: large;
}
.besthero {
     font-weight: bold;
    font-size: large;
}
.CSGOCard {
   display: flex;
    

}